---
# Main scss file
---

@charset "utf-8";

// Helpers
@import "helpers/mixins", "helpers/variables";

// Base
@import "base/reset";

// Utilities
@import "utilities/layout", "utilities/separator";

// Components
@import "components/page", "components/article", "components/tag",
    "components/archives";

// Vendor
@import "vendor/highlight";

:root {
    --main-color: #f1f2f3;
    --second-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circular-text {
    border: 1px solid red;
    height: 0px;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    position: fixed;
    // right: calc(100vh / 2);
    right: 50%;
    margin-top: -250px;
}

.text {
    font-family: "Teko", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--second-color);
}
