

<header class="c-page__header">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
  </style>

  <div class="container">
    <div class="circular-text">
      <p class="text">Suraj • スラージ • evenzero • シャルマ •  Sharma  • ゼロイーブン •</p>            
    </div>
  </div>
  <h1><code>{{ "evenzero.in" }}</code></h1>
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <span class="u-separate"></span> 
    <a href="{{ "/projects/" | prepend:site.baseurl }}">Projects</a>
    <span class="u-separate"></span> 
    <a href="{{ "/experiments/" | prepend:site.baseurl }}">Experiments</a>
    <span class="u-separate"></span> 
    <a href="{{ "/books/" | prepend:site.baseurl }}">Books</a>
  <span class="u-separate"></span> 
    <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <span class="u-separate"></span>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
